body {
  margin: 0;
  font-family: Boska-Variable, sans-serif;
  color: white;
  font-weight: 400;
}

.text-green {
  color: #75ff69;
}

header {
  background-color: #1b3936;
  padding: 50px 200px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.group {
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Switzer-Variable, sans-serif;
  font-weight: 400;
}

nav ul li.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32.94px;

  font-family: "Cursive";
  font-size: 24px;
  color: #75ff69;
}
nav ul li .brand-title {
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background-image: url("./resources/pictures/Image.png"); /* Add your background circle image */
  background-repeat: no-repeat;
  background-position: center;
}

.bg {
  background-image: url("./resources/pictures/Line.png");
  background-repeat: no-repeat;
  background-position: center;
}
.bg-green {
  background-color: #1b3936;
}

.hero .content {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.hero .common {
  font-family: Boska-Variable;
  font-weight: 400;
  font-style: italic;
  font-size: 262px;
  line-height: 161.76px;
  text-align: center;
}
.hero .title {
  color: white;
  margin-right: 120px;
}
.hero .cabin {
  color: #75ff69;
  margin-left: 270px;
  margin-top: 45px;
  margin-bottom: 0px;
}
.hero .in-the {
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  line-height: 41.6px;
  color: white;
  margin-bottom: 0px;
}
.hero .woods {
  color: white;
  margin-top: 0px;
  margin-bottom: 30px;
}

.hero p {
  font-family: Boska-Variable;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.76px;
  color: #ffffff;
  align-items: center;
  margin: 40px 0;
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute; /* Add this */
  right: -30%; /* Adjust this value to position the button correctly */
  top: 50%; /* Adjust this value to position the button vertically */
  transform: translateY(-50%); /* Center the button vertically */
}

.play-button img {
  width: 69.7px;
  height: 69.7px;
}
.info {
  color: black;
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  font-family: Switzer-Variable, sans-serif;
  font-weight: 400;
}

.left {
  padding: 40px;
}
.info-pic {
  width: 203px;
  height: 276.08px;
}
.info-paragraph {
  width: 609px;
  height: 128px;
}
.number {
  font-family: "Boska-Variable", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 100px;
  line-height: 50px;
  margin-top: 0px;
  min-width: 309.73px;
}
.number sub {
  font-family: Switzer-Variable, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.68px;
}
.info-title {
  margin-top: 0px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right .first {
  margin-top: 40px;
}
.showcase-container {
  /* height: 100vh;  Optional: Adjust based on your requirement */
  width: 100%;
}
.showcase {
  width: 100%; /* Ensure the image does not exceed the width of the section */
  height: auto; /* Maintain the aspect ratio */
}

.about-us .container {
  position: relative;
  text-align: center;
  color: white;
}

.about-us .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-us .background img {
  width: 401px;
  object-fit: cover;
}
.about-us .background img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 342px;
  margin-top: 321px;
  margin-left: 38px;
}

/* 4 no picture */
.about-us .background img:nth-child(2) {
  position: absolute;
  height: 526px;
  top: 0;
  left: 0;
  margin-top: 76px;
  margin-left: 978px;
}

.about-us .background img:nth-child(3) {
  position: absolute;
  height: 531px;
  top: 0;
  left: 0;
  margin-top: 948px;
  margin-left: 49px;
}

.about-us .background img:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 980px;
  margin-left: 882px;
}
.about-us .background img:nth-child(5) {
  width: 100%;
  height: 1709px;
}

.about-us .content {
  position: relative;
  z-index: 1;
  padding-top: 233px;
}

.content h1 {
  margin-top: 20px;
  font-family: Switzer-Variable, sans-serif;
  font-size: 24px;
  line-height: 31.68px;
}

.content-p {
  font-size: 68px;
  color: rgba(255, 255, 255, 0.5); /* Fade effect */
  max-width: 1083.29px;
  height: 880px;
  margin: 2px auto;
}

.highlight {
  color: white;
  opacity: 1; /* Fully visible */
}
.about-us .container {
  position: relative;
}
/* unique room */
.unique-container {
  position: static;
  text-align: center;
  /* padding: 50px; */
}

.unique-title {
  color: black;
  width: 784px;
  height: 176px;
  margin-top: 0px;
  padding-top: 200px;
  margin-left: 125px;
  font-size: 68px;
  font-style: italic;
  line-height: 88.4px;
  font-family: Boska-Variable, sans-serif;
  font-weight: 400;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.gallery-item {
  position: relative;
  width: 378px;
  height: 505.68px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item:nth-child(2) {
  width: 582px;
  height: 778.32px;
}
.gallery-item:nth-child(2) .caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.gallery-item:nth-child(2) .caption h2 {
  margin: 0;
  font-size: 1.5em;
}

.gallery-item:nth-child(2) .caption p {
  margin: 5px 0 0;
  font-size: 0.9em;
}
.unique {
  position: static;
  background-color: #f9f9f9;
  padding-bottom: 150px;
}
.intersect {
  width: 100%;
  margin-top: 415px;
  margin-bottom: 0px;
}
.showcase-2 {
  background-image: url("./resources/pictures/about us 5.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.cta {
  background-image: url("./resources/pictures/BG.png");
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1194px;
  height: 704px;
  padding: 20px;
  box-sizing: border-box;
}

.cta-title {
  width: 100%;
  max-width: 603px;
  font-family: Boska-Variable, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 68px;
  color: white;
  margin: 0 0 20px;
}

.cta-p {
  font-family: Switzer-Variable, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 0 0 20px;
}

.form {
  display: flex;
  max-width: 570px;
  width: 100%;
}

.form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.form-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  color: #1b3936;
  background-color: #75ff69;
  cursor: pointer;
}
/* testimonial */

.testimonials {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.testimonials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.testimonials-title {
  font-size: 68px;
  font-weight: 400;
  color: #1b3936;
  line-height: 88.4px;
  margin-bottom: 10px;
}

.testimonials-description {
  font-family: Switzer-Variable, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.76px;
  color: #666666;
  margin-top: 150px;
}

.testimonials-content {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.testimonial-card {
  position: relative;
  width: 500px;
  height: 477px;
  text-align: left;
  overflow: visible;
  border-radius: 10px;
}

.testimonial-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 1, 0.8);
  padding: 20px;
  width: calc(100% - 40px);
  border-radius: 10px;
  margin-left: -100px;
}

.emoji {
  font-size: 24px;
}

.testimonial-title {
  color: #1b3936;
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.testimonial-description {
  font-size: 16px;
  color: #666666;
}

.navigation-buttons {
  margin-top: 30px;
}

.nav-button {
  background-color: #75ff69;
  border: none;
  color: #1b3936;
  font-size: 30px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-button.prev-button {
  background-color: #1b3936;
  color: #ffffff;
}
.upper-footer {
  display: flex;
  flex-direction: column;
}

.showcase-3-row {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: white;
}

.showcase-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.showcase-3-title {
  color: #1b3936;
  font-weight: 400;
  font-style: italic;
  font-size: 68px;
  line-height: 88.4px;
}

.showcase-3-description {
  font-family: Switzer-Variable, sans-serif;
  color: #1b3936;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.76px;
}

.showcase-3-btn {
  border-radius: 50%;
  padding: 20px;
  border-color: #1b3936;
  border-width: 1px;
  background-color: white;
  cursor: pointer;
}

.upper-footer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upper-footer-content {
  flex: 1;
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  position: relative;
}

.about-footer {
  background-color: #75ff69;
  height: 150px;
}
.about-footer img {
  margin-left: 80px;
}

.rooms-footer {
  background-color: #1b3936;
  height: 150px;
}

.contact-footer {
  background-color: #1b3936;
  height: 150px;
}

.upper-footer-content p {
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-top: 10px;
}

.footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.footer-nav a {
  font-family: Switzer-Variable, sans-serif;
  font-weight: 400;
  line-height: 23.76px;
  margin: 0 15px;
  color: #1b3936;
  text-decoration: none;
  font-size: 18px;
}
.logo {
  margin-left: 50px;
}
